@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');
*
{
	font-family: 'Poppins', sans-serif;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}



body{
	background: #ccd5c0;
}
.nav{
	background: #1d2124;
	width: 100%;
	height: 150px;
	border: 1px solid black;
	margin-bottom: 10px;

}
.nav img{
	position: relative;
}
.nav a{
	font-family: 'Arial';
	font-size: 28px;
	font-weight: 400;
	text-decoration: none;
	color: whitesmoke;
	padding-top: 0px;
	padding-left: 80px;
	padding-right: 59px;
	position: relative;
	top: -64px;
	display: inline-block;

}

.nav a:hover{
	background: #ccd5c0;
	color: #1d2124;
	transition: 1s;
	height: 109px;
	padding-top: 25px;
	border-radius: 20px 20px 0px 0px;

}

.contact{
	position: relative;
	min-height: 100vh;
	padding: 50px 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.contact .content{
	max-width: 800px;
	text-align: center;
}

.contact .content h2{
	font-size: 36px;
	font-weight: 500;
	color: #000;
}

.contact .content p{
	font-weight: 300;
	color: #000;
}

.container{
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 30px;

}

.container .contactInfo{
	width: 50%;
	display: flex;
	flex-direction: column;
}

.container .contactInfo .box{
	position: relative;
	padding: 20px 0;
	display: flex;
}

.container .contactInfo .box .icon{
	min-width: 90px;
	height: 90px;
	background: #ccd5c0;
	display: flex;
	justify-content: safe center;
	align-items: center;
	border-radius: 50%;
	font-size: 22px;

}

.container .contactInfo .box .text{
	display: flex;
	margin-left: 20px;
	font-size: 16px;
	color: #000;
	flex-direction: column;
	font-weight: 200;

}
.container .contactInfo .box h3{
	font-weight: 500;
	color: #00bcd4;

}

.icon{
	min-width: 60px;
	height: 60px;
}
.icon img{
	min-width: 60px;
	height: 60px;
}

.contactForm{
	width: 40%;
	padding: 40px;
	background: #4a538661;
	border-radius: 50px;
}

.contactForm h2{
	font-size: 30px;
	color: #000;
	font-weight: 500;
}

.contactForm .inputBox{
	position: relative;
	width: 100%;
	margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
	width: 100%;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	border: none;
	border-bottom: 2px solid black;
	outline: none;
	resize: none;
}

.contactForm .inputBox span{
	position: absolute;
	left: 0;
	padding: 5px 0;
	font-size: 16px;
	margin: 10px 0;
	pointer-events: none;
	transition: 0.5s;
	color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
	color: #e91e63;
	font-size: 12px;
	transform: translateY(-20px);
}

.contactForm .inputBox button{
	width: 100px;
	background: #00bcd4;
	color: #fff;
	border: none;
	cursor: pointer;
	padding: 10px;
	font-size: 18px;
}

@media (max-width: 991px)
{
	.contact{
		padding: 50px;
	}
	.container{
		flex-direction: column;
	}
    .container .contactInfo{
    	margin-bottom: 40px;
    }
    .container .contactInfo{
    	width: 100%;
    }
}

footer{
	background: #1d2124;
	width: 100%;
	height: 200px;
}
.social{
	min-width: 70px;
	height: 70px;
	display: inline-block;
}
.social img{
	min-width: 89px;
	height: 89px;
	padding-top: 10px;
	padding-left: 20px;
	padding-right: 20px;
	padding-bottom: 10px;
	margin-top: 20px;

}
.social img:hover{
	background: #67716c70;
	border-radius: 10px;
	transition: 0.8s;
	transform: translateY(-10px);
	transform: translateX(10px);
}
footer h1{
	font-family: 'Arial';
	font-size: 24px;
	padding-top: 20px;
	padding-left: 20px;
	color: white;
}
.copy{
	position: relative;
	left: 700px;
	top: -150px;
}
.copy p{
	font-size: 24px;
	font-family: 'Arial';
	color: white;
}
.copy h3{
	color: white;
	margin-top: 60px;
	position: relative;
	left: 360px;
}